* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #00071a;
}

.font-sans {
  font-family: Raleway, sans-serif;
}

.min-h-screen {
  min-height: 100vh;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-white {
  background-color: #fff;
}

.text-xl {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.gap-y-8 {
  row-gap: 2rem; /* 32px */
}

.gap-x-6 {
  column-gap: 1.5rem; /* 24px */
}

.rounded-full {
  border-radius: 9999px;
}

.p-3 {
  padding: 0.75rem; /* 12px */
}

.w-6 {
  width: 1.5rem; /* 24px */
}

.h-6 {
  height: 1.5rem; /* 24px */
}

@media (min-width: 640px) {
  .sm\:text-xl {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
  }

  .sm\:gap-x-8 {
    column-gap: 2rem; /* 32px */
  }

  .sm\:p-4 {
    padding: 1rem; /* 16px */
  }

  .sm\:w-8 {
    width: 2rem; /* 32px */
  }
  
  .sm\:h-8 {
    height: 2rem; /* 32px */
  }
}